@font-face {
    font-family: Miruna;
    src: url(queenoflove.ttf);
}

h1{
	text-align: center;
	margin-bottom: 50px;
	margin-top: 100px;
	font-style: italic;
	color: #7E0032;
	font-family: Miruna;
	font-size: 100px;
}

a{
	margin-top: 5px;
	font-style: italic;
	font-size: 50px;
	color: #7E0032;
	font-family: Miruna;
}

body{
	background-repeat: repeat-y;
	background-position: center;
	margin:0 ;
	background-size: cover;

}
.bgImg{
	display: block;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-image:url(background.jpg);
	background-position: center;
	margin:0 ;
	background-size: cover;
	z-index:-1;
}

.cont{
	display: block;
	position: relative;
	width: 100%;
	height: 100px;
}

.button{
	display: block;
	position: relative;
	width: 25%;
	height: 100px;
	float: left;
	background-color: #CBF0EF;
	text-decoration: none; 
	line-height: 100px;
	vertical-align: middle;
	text-align: center;
    background-size: cover;
    opacity: 0.7;
    cursor: pointer;
    margin-bottom:50px;
}

.button:hover{
	font-size: 40px;
	opacity: 0.7;
	background-color: #CBF0EF;
	margin-top: 5px;
}

.mainContainer{
	width: 960px;
	height: auto;
	display: block;
	margin: 0 auto;
	background-color: #ddd;
	background-size: cover;
}

.ourSlideshow{
	overflow: hidden;
	display: block;
	width: 800px;
	height: 500px;
	border: 1px;
	position: relative;
	margin: 0 auto;
}

.ourSlideshow .button{
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	background-color: #fff;
	z-index:20;
	margin-top: -15px;
	cursor: pointer;
	color: #fff;
	text-align: center;
	line-height: 30px;
}

#btnLeft{
	top: 50%;
	left: 5px;
	background-image:url(left.png);
}
#btnRight{
	top: 50%;
	right: 5px;
	background-image: url(right.png);
}
.ourSlideshow .growContainer {
	display: block;
	
	height: 100%;
	position: relative;
}

.ourSlideshow .growContainer .slideItem {
	width: 800px;
	height: 500px;
	display: block;
	float: left;
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.slideItem:nth-child(2n){
	background-color: red;
}